In [7]:
import pandas as pd

In [8]:
df = pd.read_parquet("~/data/parquet/")

In [13]:
# 날짜로 필터링
date = input()
fdf = df[df['dt'] == date]

 2024-07-15

In [14]:
fdf

                     cmd  cnt          dt
96                         15  2024-07-15
97           #!/bin/bash   15  2024-07-15
98                     $   47  2024-07-15
99                  $AWS   15  2024-07-15
100            --version    8  2024-07-15
..                   ...  ...         ...
203                 view  136  2024-07-15
204                  vim   45  2024-07-15
205  ~///app/savehistory   15  2024-07-15
206   ~//app/savehistory   15  2024-07-15
207    ~/app/savehistory   15  2024-07-15

[112 rows x 3 columns]

In [20]:
sdf = fdf.sort_values(by='cnt', ascending=False).head(10)
ddf = sdf.drop(columns=['dt'])

In [21]:
ddf

       cmd   cnt
152    git  1906
191   sudo  1238
133     cd   819
202     vi   436
170  mkdir   374
132    cat   294
178  pyenv   283
182     rm   276
166     ls   243
138     cp   240

In [23]:
print(ddf.to_string(index=False))

  cmd  cnt
  git 1906
 sudo 1238
   cd  819
   vi  436
mkdir  374
  cat  294
pyenv  283
   rm  276
   ls  243
   cp  240